<div class="users-show-main">
  <div class="container">
    <div class="users">
      <div class="user">
        <div class="user-image-name">
          <div class="user-show-image">
            <%= image_tag "/assets/#{@user.image}", class:"user_show_image" %>
          </div>
          <div class="name-follow">
            <h2><%= @user.user_name %></h2>
            <%= render 'follow_form' if logged_in? %>
          </div>
          <div class="user-edit-btn">
            <% if @user.id == @current_user.id %>
              <%= link_to "ユーザー情報を編集", edit_user_path(@user.id), class:"user_edit_button" %>
            <% end %>
          </div>
        </div>
        <div class="user-info">
          <%= render 'users/stats' %>
        </div>
      </div>
      <div class="users-index-items">
        <% if @users.any? %>
          <ul class="users-follow">
            <%= render @users %>
          </ul>
          <%= will_paginate %>
        <% end %>
      </div>
    </div>
  </div>
</div>