<div class="ingredient-letter">材料</div>
<p><%= @ingredient.ingredient_1 %></p>
<% if @ingredient.ingredient_2.present? %>
  <p><%= @ingredient.ingredient_2 %></p>
<% end %>
<% if @ingredient.ingredient_3.present? %>
  <p><%= @ingredient.ingredient_3 %></p>
<% end %>
<% if @ingredient.ingredient_4.present? %>
  <p><%= @ingredient.ingredient_4 %></p>
<% end %>
<% if @ingredient.ingredient_5.present? %>
  <p><%= @ingredient.ingredient_5 %></p>
<% end %>
<% if @ingredient.ingredient_6.present? %>
  <p><%= @ingredient.ingredient_6 %></p>
<% end %>
<% if @ingredient.ingredient_7.present? %>
  <p><%= @ingredient.ingredient_8 %></p>
<% end %>
<% if @ingredient.ingredient_8.present? %>
  <p><%= @ingredient.ingredient_8 %></p>
<% end %>
<% if @ingredient.ingredient_9.present? %>
  <p><%= @ingredient.ingredient_9 %></p>
<% end %>