<div class="posts-new-main">
  <div class="container">
    <h2 class="edit-recipe-title">レシピを編集</h2>
    <%= form_with url: update_post_path do |f| %>
      <%#= render 'shared/error_messages' %>
      <div class="edit-post">
        <div class="edit-form">
          <div class="post-cooking_name posts-edit-content posts-new-content">
            <p>料理名 <span class="required-item">※必須</span></p>
            <%= f.text_field :cooking_name, value: @recipe.cooking_name %>
          </div>
          <div class="post-cooking-image posts-edit-content posts-new-content">
            <p>写真を変更する <span class="required-item">※必須</span></p>
            <label class="image-form">
              <span class="material-icons camera-icon">add_a_photo</span>
              <p>ファイルを選択</p>
              <p class="not-selected"><%= @recipe.cooking_image %></p>
              <%= f.file_field :cooking_image, value: @recipe.cooking_image %>
            </label>
          </div>
          <div class="post-edit-ingredients">
            <div class="edit-ingredients posts-new-content">
              <p class="ingredient">材料</p>
              <div class="required-item">※必須</div>
              <% @ingredient.each do |ing| %>
                <div class="ingredient-area">
                  <%= f.fields_for :ingredients do |i| %>
                    <div class="js-file-group" data-index="${index}">
                      <div class="new-ingredients">
                        <div class="ingredient">
                          <%= i.text_field :ingredient, name: "[ingredients][#{ing.id}][ingredient]", value: ing.ingredient, class: "ingredient-form" %>
                          <%= i.text_field :amount, name: "[ingredients][#{ing.id}][amount]", value: ing.amount, class: "amount-form" %>
                          <select class="unit-form" name="[ingredients][<%= ing.id %>][unit]" id="_ingredients_unit">
                            <option value="<%= ing.unit %>"><%= ing.unit %></option>
                            <option value="大さじ">大さじ</option>
                            <option value="小さじ">小さじ</option>
                            <option value="ml">ml</option>
                            <option value="cc">cc</option>
                            <option value="グラム">グラム</option>
                            <option value="個">個</option>
                            <option value="パック">パック</option>
                            <option value="枚">枚</option></select>
                            <span class="delete-form-btn">
                              削除する
                            </span>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="add-form-btn">
            ＋フォームを追加
          </div>
          <div class="edit-cooking-steps posts-new-content">
            <p class="edit-steps-letter">作り方</p>
            <div class="edit-steps">
              <p>1 <span class="required-item">※必須</span></p>
              <%= f.text_area :step_1, value: @step.step_1 %>
              <% if @step.step_2.present? %>
                <p>2</p>
                <%= f.text_area :step_2, value: @step.step_2 %>
                <% end %>
                <% if @step.step_3.present? %>
                <p>3</p>
                <%= f.text_area :step_3, value: @step.step_3 %>
              <% end %>
            </div>
          </div>
          <div class="post-comment posts-new-content posts-edit-content">
            <p>コメント</p>
            <%= f.text_area :comment, value: @recipe.comment %>
          </div>
          <div class="send-post">
            <%= f.submit "投稿する" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>