<div class="posts-new-main">
  <div class="container">
    <h2 class="edit-recipe-title">レシピを編集</h2>
    <%= form_with url: update_post_path do |f| %>
      <% @recipe.errors.full_messages.each do |message| %>
        <div class="edit-form-error">
          <%= message %>
        </div>
      <% end %>
      <% @ingredient.errors.full_messages.each do |message| %>
        <div class="edit-form-error">
          <%= message %>
        </div>
      <% end %>
      <% @step.errors.full_messages.each do |message| %>
        <div class="edit-form-error">
          <%= message %>
        </div>
      <% end %>
      <div class="edit-post">
        <div class="edit-form">
          <div class="post-cooking_name posts-edit-content posts-new-content">
            <p>料理名</p>
            <%= f.text_field :cooking_name, value: @recipe.cooking_name %>
          </div>
          <div class="post-cooking-image posts-edit-content posts-new-content">
            <p>写真を変更する</p>
            <label class="image-form">
              <%= render 'posts/edit_cooking_image' %>
              <%= f.file_field :cooking_image, value: @recipe.cooking_image %>
            </label>
          </div>
          <div class="post-edit-ingredients">
            <div class="edit-ingredients posts-new-content">
              <p class="ingredient">材料</p>
              <%= f.text_field :ingredient, value: @ingredient.ingredient %>
            </div>
          </div>
          <div class="edit-cooking-steps posts-new-content">
            <p class="edit-steps-letter">作り方</p>
            <div class="edit-steps">
              <%= f.text_area :step_1, value: @step.step_1 %>
            </div>
          </div>
          <div class="post-comment posts-new-content posts-edit-content">
            <p>コメント</p>
            <%= f.text_area :comment, value: @recipe.comment %>
          </div>
          <div class="send-post">
            <%= f.submit "投稿する" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>