<div class="posts-new-main">
  <div class="container">
    <h2 class="start-message">レシピを投稿しよう！</h2>
    <%= form_tag posts_create_path, multipart: true do %>
      <div class="new-post">
        <% @recipe.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <% @ingredient.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <% @step.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <div class="new-post-form">
          <div class="post-cooking-name posts-new-content">
            <%= render 'posts/cooking_name_fields' %>
          </div>
          <div class="post-cooking-image posts-new-content">
            <%= render 'posts/post_cooking_image' %>
            <input id="image-loading" name="cooking_image" type="file">
          </div>
          <div class="post-new-ingredients posts-new-content">
            <%= render 'posts/ingredient_fields' %>
          </div>
          <div id="detail-association-insertion-point"></div>
          <div class="additional-links">
          </div>
          <div class="new-cooking-steps posts-new-content">
            <p class="new-steps-letter">作り方</p>
            <%= render 'posts/step_fields' %>
          </div>
          <div id="button-to-add-step"></div>
          <div class="additional-links additional-steps">
          </div>
          <div class="post-comment posts-new-content">
            <%= render 'posts/comment_fields' %>
          </div>
          <div class="send-post">
            <input type="submit" value="投稿する">
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>