<div class="posts-new-main">
  <div class="container">
    <h2 class="start-message">レシピを投稿しよう！</h2>
    <%= form_with url: posts_create_path do |f| %>
      <div class="new-post">
        <%= render 'shared/error_messages' %>
        <!-- <% @recipe.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%#= message %>
          </div>
        <% end %>
        <% @ingredient.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%#= message %>
          </div>
        <% end %>
        <% @step.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%#= message %>
          </div>
        <% end %> -->
        <div class="new-post-form">
          <div class="post-cooking-name posts-new-content">
            <p>料理名</p>
            <%= f.text_field :cooking_name, placeholder: "かぼちゃジュース" %>
          </div>
          <div class="post-cooking-image posts-new-content">
            <p>写真を追加する</p>
            <label class="image-form cooking-image-form">
              <span class="material-icons camera-icon">add_a_photo</span>
              <p>ファイルを選択</p>
              <p class="not-selected">※選択されていません</p>
              <%= f.file_field :cooking_image %>
            </label>
          </div>
          <div class="post-new-ingredients posts-new-content">
            <%= f.fields_for :ingredients do |i| %>
              <%= render 'posts/ingredient_fields', f: i %>
            <% end %>
          </div>
          <div class="new-cooking-steps posts-new-content">
            <%= f.fields_for :steps do |s| %>
              <%= render 'posts/step_fields', f: s %>
            <% end %>
          </div>
          <div class="post-comment posts-new-content">
            <p class="comment-field">コメント</p>
            <%= f.text_area :comment %>
          </div>
          <div class="send-post">
            <%= f.submit "投稿する" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
