<div class="posts-show-main">
  <div class="posts-show-item">
    <div class="posts-show-cooking-image">
    <% if @recipe.cooking_image? %>
      <%= image_tag @recipe.cooking_image %>
    <% else %>
      <%= image_tag "/cooking_images/cooking_default.png" %>
    <% end %>
      <%#= image_tag "/cooking_images/#{@recipe.cooking_image}" %>
      <% if @recipe.user_id == @current_user.id %>
        <div class="post-menu">
          <%= link_to "編集", edit_post_path(@recipe.id), class:"post_edit_button" %>
          <%= link_to "削除", destroy_post_path(@recipe.id), method: :post, class:"post_destroy_button" %>
        </div>
      <% end %>
    </div>
    <p class="show-cooking-name">
      <%= @recipe.cooking_name %>
    </p>
      <%= render 'likes/like' %>
    <div class="post-user-name">
      <img src="<%= "/user_images/#{@user.image}" %>">
      <%= link_to @user.user_name, user_path(@user), class:"post_user_name" %>
    </div>
    <div class="comment">
      <p class="comment-letter">コメント</p>
      <p><%= @recipe.comment %></p>
    </div>
    <div class="show-ingredients">
      <div class="ingredients">
        <%= render 'posts/ingredients' %>
      </div>
      <div class="amounts">
        <%= render 'posts/amounts' %>
      </div>
    </div>
    <div class="show-cooking-recipe">
      <div class="show-process">
        <div class="step-number">ステップ１</div>
        <p><%= @step.step_1 %></p>
        <% if @step.step_2.present? %>
          <div class="step-number">ステップ２</div>
          <p><%= @step.step_2 %></p>
        <% end %>
        <% if @step.step_3.present? %>
          <div class="step-number">ステップ３</div>
          <p><%= @step.step_3 %></p>
        <% end %>
      </div>
    </div>
  </div>
  <!-- <div class="posts-show-search-form">
    <%#= render 'posts/search_form' %>
  </div> -->
</div>