<div class="posts-show-main">
  <div class="posts-show-item">
    <div class="posts-show-cooking-image">
      <%= render 'posts/show_cooking_image' %>
    </div>
    <p class="show-cooking-name">
      <%= @recipe.cooking_name %>
    </p>
    <%= render 'likes/like' %>
    <div class="post-user-name">
      <img src="<%= "/assets/#{@user.image}" %>">
      <%= link_to @user.user_name, user_path(@user), class:"post_user_name" %>
    </div>
    <div class="comment">
      <div class="comment-letter">コメント</div>
      <p><%= @recipe.comment %></p>
    </div>
    <div class="show-ingredients">
      <div class="ingredients">
        <%= render 'posts/ingredients' %>
      </div>
      <div class="amounts">
        <%= render 'posts/amounts' %>
      </div>
    </div>
    <div class="show-cooking-recipe">
      <div class="show-process">
        <div class="step-number">ステップ１</div>
        <p><%= @step.step_1 %></p>
        <% if @step.step_2.present? %>
          <div class="step-number">ステップ２</div>
          <p><%= @step.step_2 %></p>
        <% end %>
        <% if @step.step_3.present? %>
          <div class="step-number">ステップ３</div>
          <p><%= @step.step_3 %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>