<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CookLook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="header-all">
        <div class="menu-bar">
          <span class="material-icons" id="open-menu">menu</span>
        </div>
        <div class="header-logo">
          <%= link_to "CookLook", root_path, class: "header-title" %>
        </div>
        <div class="header-list">
          <% if session[:user_id] %>
            <%= link_to user_path(@current_user.id), class:"header-menu" do %>
              <%= image_tag @current_user.image, class: "header-user-image" %>
            <% end %>
          <% else %>
            <div id="signup">
              <%= link_to "新規登録", new_user_path %>
            </div>
          <% end %>
        </div>
      </div>
    </header>

      <div class="overlay">
        <span class="material-icons" id="close">close</span>
        <nav>
          <ul>
            <li><%= link_to "レシピ", posts_index_path %></li>
            <li><%= link_to "投稿する", posts_new_path %></li>
            <% if logged_in? %>
              <li id="search-open">検索する</li>
            <% end %>
            <li><%= link_to "全てのユーザー", users_path %></li>
            <li><%= link_to "ログアウト", logout_path, method: :post %></li>
          </ul>
        </nav>
      </div>
      <div id="menu-cv" class="menu-cover"></div>
      <div id="mask" class="hidden"></div>
      <div id="search-form" class="hidden">
        <%= render 'layouts/search_form' %>
      </div>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
